.compression-box {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  transition: all .25s linear;

  .compression-title {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1em;
  }

  .compression-content {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    .compression-card {
      max-width: 90%;
      max-height: 90%;
      display: flex;
      flex-direction: column;
      padding: 1em;

      .compression-top-box {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;

        gap: 1em;
      }

      .compression-bottom-box {
        max-height: 70vh;
        display: flex;
        flex-direction: column;
        gap: 0.5em;
        margin-top: 0.5em;

        .compression-bottom-box-head {
          display: flex;
          justify-content: flex-end;
          gap: 1em;
        }

        .compression-file-info {
          display: flex;
          flex-direction: column;
          font-size: 15px;
          overflow-y: auto;
          overflow-x: auto;
          gap: 0.5em;
        }

        .compression-bottom-buttons {
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 0.5em;

          .compression-button {
          }

          .compression-type-select {
            min-width: 50px;
          }
        }
      }
    }
  }
}